<div class="stream-image-holder">
  <a class="stream-image" href="{{stream.stream.link}}" style="background-image: url({{stream.stream.image}})" target="_blank"></a>

  <div class="stream-image-overlay">
    <div class="avatar-small pull-left" style="background-image: url({{ stream.user.avatar }})"></div>

    <div class="stream-name">
      <a href="/users/{{stream.user.id}}">
        {{stream.user.username}}
      </a>
    </div>

    <div class="stream-id">
      <a href="{{stream.stream.link}}" target="_blank">
        {{stream.user.twitch_id}}
      </a>
    </div>
  </div>
</div>
