<div class="modal-header">
  <h3 class="modal-title">Arma3Sync</h3>
</div>
<div class="modal-body">
  <h4 ng-if="mods.length === 0">
    Inga mods
  </h4>

  <div ng-if="mods.length > 0">
    <h4>Mods</h4>
    <form ng-submit="false">
      <div class="form-group">
        <label for="filter-name">Filtrering</label>
        <input type="text" class="form-control" id="filter-name" placeholder="Filtera på namn" ng-model="filter.name" />
      </div>
    </form>
    <table class="table">
      <tbody>
        <tr ng-repeat="mod in mods | filter:filter">
          <td ng-class-odd="'tbl1'" ng-class-even="'tbl2'">
            <div>
              <strong>{{ mod.name }}</strong>
              <small>{{ mod.formattedSize }}</small>
            </div>
            <div ng-if="mod.steamWorkshop">
              <a ng-if="mod.steamWorkshop.id" ng-href="https://steamcommunity.com/sharedfiles/filedetails/?id={{mod.steamWorkshop.id}}" target="_blank">
                {{mod.steamWorkshop.id}}
              </a>
              <span ng-if="mod.steamWorkshop.name">
                {{mod.steamWorkshop.name}}
              </span>
            </div>
          </td>
          <td ng-class-odd="'tbl1'" ng-class-even="'tbl2'">
            <p>
              <a class="btn btn-primary pull-right" ng-click="add({name: mod.name})">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Lägg till
              </a>
              <div class="clearfix"></div>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Stäng</button>
</div>
