<div class="modal-header">
  <h3 class="modal-title">Arma3Sync</h3>
</div>
<div class="modal-body">
  <h4 ng-if="mods.length === 0">
    Inga mods
  </h4>

  <div ng-if="mods.length > 0">
    <h4>Mods</h4>
    <table class="table">
      <tbody>
        <tr ng-repeat="mod in mods">
          <td ng-class-odd="'tbl1'" ng-class-even="'tbl2'">
            <p>
              <a ng-href="{{modUrl(mod.name)}}" target=_blank>
                <strong>{{ mod.name }}</strong>
              </a>
              <small>{{ mod.playWithSix.type }}</small>
              <small>{{ mod.formattedSize }}</small>
            </p>
            <p>{{ mod.playWithSix.title }}</p>
          </td>
          <td ng-class-odd="'tbl1'" ng-class-even="'tbl2'">
            <p>
              <a class="btn btn-primary pull-right" ng-click="add({name: mod.name})">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Lägg till
              </a>
              <div class="clearfix"></div>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Stäng</button>
</div>
