<ul ng-model="groups" ui-sortable="groupsSortableOptions" class="list-unstyled">
  <li ng-repeat="group in groups track by group.id">
    <div class="block-title">
      {{ group.name }}
      <slots-counter></slots-counter>
    </div>

    <div class="bordered-block ng-hide" ng-show="groups">
      <form class="form" style="padding: 10px" ng-submit="updateGroup(group)">
        <div class="form-group">
          <label for="name" class="control-label">Namn</label>
          <input type="text" class="form-control" name="name" id="name" ng-model="group.name" />
        </div>

        <button type="submit" style="vertical-align: top" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" title="Spara"></span>
          Spara
        </button>

        <button type="button" style="vertical-align: top" class="btn btn-primary" ng-click="copyGroup(group); $event.stopPropagation();">
          <span class="glyphicon glyphicon-duplicate" aria-hidden="true" title="Kopiera"></span>
          Kopiera
        </button>

        <button type="button" style="vertical-align: top" class="btn btn-danger" ng-click="deleteGroup(group); $event.stopPropagation();">
          <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Ta bort"></span>
          Ta bort
        </button>
      </form>

      <edit-slots-controller></edit-slots-controller>
    </div>
  </li>
</ul>

<div class="block-title">L&auml;gg till grupp</div>
<div class="bordered-block ng-hide" ng-show="groups">
  <form class="form" ng-submit="addGroup()" style="padding: 10px;">
    <div class="form-group">
      <label for="add-group-name" class="control-label">Namn</label>
      <input type="text" class="form-control" name="add-group-name" id="add-group-name" ng-model="form.name" />
    </div>

    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Lägg till grupp
    </button>
  </form>
</div>
