<ul ng-model="groups" ui-sortable="groupsSortableOptions" class="list-unstyled">
  <li ng-repeat="group in groups track by group.id">
    <div class="block-title">{{ group.title }}</div>

    <div class="bordered-block ng-hide" ng-show="groups">
      <form class="form" style="padding: 10px" ng-submit="updateGroup(group)">
        <div class="form-group">
          <label for="title" class="control-label">Titel</label>
          <input type="text" class="form-control" name="title" id="title" ng-model="group.title">
          <span class="help-block"></span>
        </div>

        <button type="submit" style="vertical-align: top" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" title="Spara"></span>
        </button>

        <button style="vertical-align: top" class="btn btn-primary" ng-click="copyGroup(group)">
          <span class="glyphicon glyphicon-duplicate" aria-hidden="true" title="Kopiera"></span>
        </button>

        <button style="vertical-align: top" class="btn btn-primary" ng-click="deleteGroup(group)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Ta bort"></span>
        </button>
      </form>

      <edit-slots-controller></edit-slots-controller>
    </div>
  </li>
</ul>

<div class="block-title">L&auml;gg till grupp</div>
<div class="bordered-block ng-hide" ng-show="groups">
  <form class="form" ng-submit="addGroup()" style="padding: 10px;">
    <div class="form-group">
      <label for="title" class="control-label">Titel</label>
      <input type="text" class="form-control" name="title" id="title" ng-model="title">
      <span class="help-block"></span>
    </div>

    <button type='submit' class='btn btn-primary'>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </form>
</div>
