<div class="container">
  <div class="block-title">Kommande Operationer</div>
  <div class="bordered-block ng-hide" ng-show="operations">
    <div ng-repeat="operation in operations track by operation.id">
      <div class="operation-image-holder">
        <a href="#operations/{{ operation.id }}" style="background-image: url({{ operation.image }});" class="operation-image"></a>

        <!-- Ribbons -->
        <div class="corner-ribbon bottom-right red shadow" ng-if="operation.hidden">OPUBLICERAD</div>
        <div class="corner-ribbon bottom-right green shadow" ng-if="operation.participating">DELTAR</div>

        <div class="operation-image-overlay">
          <div class="pull-right" style="text-align: right">&nbsp;<br>Deltagare: {{ operation.number_of_participants }} av {{ operation.number_of_slots }}</div>
          <div class="pull-left" style="margin-right: 1em">
            <div class="avatar-small" style="background-image: url({{ operation.author.avatar_url }});" alt=""></div>
          </div>

          <span>
            <a href="#operations/{{ operation.id }}">{{ operation.title }}</a>
          </span>
          <span class="hidden-xs">
            av {{ operation.author.name }}
          </span>
          <br>
          <span>
            Startar {{ operation.start | date:'yyyy-MM-dd HH:mm' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
