<div ng-if="operation.image">
  <div class="operation-image-holder">
    <div style="background-image: url({{ operation.image }});" class="operation-image"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="operation-title">{{ operation.title }}</h1>
          <h3 class="operation-date">{{ operation.start | date: "yyyy-MM-dd HH:mm" }}</h3>
        </div>
      </div>
    </div>
  </div>

  <style>
    body {
      padding-top: 0;
    }
  </style>
</div>

<div class="container" ng-if="operation">
  <div class="row">
    <div class="col-md-12">
      <div class="bordered-block" style="padding: 10px;">
        <div class="operation-author pull-right">
          <p class="text-center">Skapad av</p>
          <div class='avatar' style='background-image: url({{ operation.author.avatar_url }});'></div>

          <p class="text-center">{{operation.author.name}}</p>
        </div>

        <div ng-if="!operation.image">
          <h1 class="operation-title">{{ operation.title }}</h1>
          <h3 class="operation-date">{{ operation.datetime | date: "yyyy-MM-dd HH:mm" }}</h3>
        </div>

        <p class="operation-description" ng-bind="operation.text" bbcode nl2br></p>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
