<div class="block-title">Arma3Sync</div>
<div class="bordered-block ng-hide" ng-show="addons">
  <div class="tbl1">
    <span ng-repeat="addon in addons track by addon.id">
      <a ng-href="http://play.withsix.com/arma-3/mods/{{addon.name}}">{{ addon.name }}</a>{{ $last ? '' : ','}}
    <span>
  </div>

  <div class="tbl2">
    <img class="pull-right" src="../images/arma3sync.png">

    <p>
      Lägg till följande URLer som autoconfig
    </p>

    <p>
      <strong>Huvudrepo</strong>
      <br/>
      <code style="display: inline-block">http://arma3sync.anrop.se/.a3s/autoconfig</code>
    </p>

    <p>
      <strong>SFP Development</strong> - Uppdateras varje natt
      <br>
      <code style="display: inline-block">http://sfp-dev.anrop.se/.a3s/autoconfig</code>
    </p>

    <p>Läs Armandurs finfina guide,
      <a href="https://www.anrop.se/forum/viewthread.php?thread_id=3064">https://www.anrop.se/forum/viewthread.php?thread_id=3064</a>
    </p>

    <div class="clearfix"></div>
  </div>
</div>

<div class="block-title">Play withSIX</div>
<div class="bordered-block ng-hide" ng-show="addons">
  <div class="tbl1">
    <span ng-repeat="addon in addons track by addon.id">
      <a ng-href="http://play.withsix.com/arma-3/mods/{{addon.name}}">{{ addon.name }}</a>{{ $last ? '' : ','}}
    <span>
  </div>

  <div class="tbl2">
    <a ng-href="pws://playwithsix.anrop.se/operations/{{operation.id}}.yml"><img class="pull-right" src="../images/play_with_six.png"></a>

    <p>
      För att hantera dina mods med PlayWithSix, installera först programmet från deras hemsida,
      <a href="http://withsix.com/download">http://withsix.com/download</a>,
      och tryck sedan på länken eller lägg manuellt till den som ett repo,

      <a ng-href="pws://playwithsix.anrop.se/operations/{{operation.id}}.yml">pws://playwithsix.anrop.se/operations/{{operation.id}}.yml</a>
    </p>

    <div class="clearfix"></div>
  </div>
</div>
