<div ng-if="addons.length > 0">
  <div class="block-title">Arma3Sync</div>
  <div class="bordered-block ng-hide" ng-show="addons">
    <div class="tbl1">
      <span ng-repeat="addon in addons | orderBy: 'name' track by addon.id">
        <a ng-href="{{modUrl(addon.name)}}" target=_blank>{{ addon.name }}</a>{{ $last ? '' : ','}}
      <span>
    </div>

    <div class="tbl2">
      <div class="pull-right arma3sync-icon"></div>

      <p>
        För instruktioner till att använda Arma3Sync, läs Armandurs guide
        <a href="https://www.anrop.se/forum/viewthread.php?thread_id=3064">
          https://www.anrop.se/forum/viewthread.php?thread_id=3064
        </a>
      </p>

      <p>
        Lägg till följande URL som autoconfig
      </p>

      <form>
        <div class="form-group">
          <label>Anrop Arma3Sync repository</label>
          <input class="form-control" value="http://arma3sync.anrop.se/.a3s/autoconfig" readonly />
        </div>
      </form>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div ng-if="addons.length > 0">
  <div class="block-title">Play withSIX</div>
  <div class="bordered-block ng-hide" ng-show="addons">
    <div class="tbl1">
      <span ng-repeat="addon in addons | orderBy: 'name' track by addon.id">
        <a ng-href="{{modUrl(addon.name)}}" target=_blank>{{ addon.name }}</a>{{ $last ? '' : ','}}
      <span>
    </div>

    <div class="tbl2">
      <a ng-href="pws://playwithsix.anrop.se/operations/{{operationId}}.yml" class="pull-right playwithsix-icon"></a>

      <p>
        För att hantera dina mods med PlayWithSix, installera först programmet från deras hemsida,
        <a href="http://withsix.com/download">http://withsix.com/download</a>,
        och tryck sedan på länken eller lägg manuellt till den som ett repo,

        <a ng-href="pws://playwithsix.anrop.se/operations/{{operationId}}.yml">pws://playwithsix.anrop.se/operations/{{operationId}}.yml</a>
      </p>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
