<div class="block-title">TeamSpeak</div>
<div class="bordered-block tbl1">
  <a href="ts3server://ts.anrop.se?password=hejsna" class="pull-right teamspeak-icon"></a>

  <p>
    <a href="ts3server://ts.anrop.se?password=hejsna">Klicka här eller på ikonen för att ansluta till vår Teamspeak.</a>
    <br>
    För att ansluta manuellt kan du använda,
  </p>

  <dl style="display: inline-block; padding-right: 1em; margin: 0;">
    <dt>Adress</dt>
    <dd>ts.anrop.se</dd>
  </dl>

  <dl style="display: inline-block; margin: 0;">
    <dt>Lösenord</dt>
    <dd>hejsna</dd>
  </dl>

  <div class="clearfix"></div>
</div>
