.operation-image-holder {
  position: relative;
  padding-top: 25%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.operation-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.operation-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.operation-image-drop-box {
  background: #F8F8F8;
  color: black;
  border: 5px dashed #DDD;
  height: auto;
  text-align: center;
  padding: 40px 10px 40px 10px;
  margin-bottom: 10px;
}

.operation-image-holder {
  padding-top: 33%;
}

.operation-image-holder .operation-title, .operation-image-holder .operation-date {
  margin: 5px 10px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.operation-author {
  padding-left: 10px;
}
